<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultBinding_IRFIDService"
                 openTimeout="00:00:10"
                 closeTimeout="00:00:10"
                 sendTimeout="00:00:10"
                 receiveTimeout="00:00:10"
                 />
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint
        address="http://localhost:8106/RFID.svc"
        binding="basicHttpBinding" bindingConfiguration="DefaultBinding_IRFIDService"
        contract="RFIDService.Clients.IRFIDService" name="DefaultBinding_IRFIDService" />
    </client>
  </system.serviceModel>
</configuration>